
<div class="login-container">
    <h1><%= title %></h1>

    <form action="<%= formAction %>" method="POST">
        <div class="input-group">
            <label for="username">Username</label>
            <input placeholder="Please enter your username here..." required minlength="1" type="text" id="username" name="username" />
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input placeholder="Please enter your password here..." required minlength="1" type="password" id="password" name="password" />
        </div>

        <button type="submit">Submit</button>
    </form>

    <div class="signup-section">
        <p>
            <a href="<%= signupUrl %>"><%= signupText %></a>
        </p>
    </div>
</div>




<%- contentFor('pageTitle') %>
<title>Sign In</title>


<%- contentFor('styleSheets') %>
<link rel="stylesheet" href="/login.css">