<div class="header-container">

    <div class="logout svg-container" onclick="window.location.href='/logout'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>logout</title><path d="M17 7L15.59 8.41L18.17 11H8V13H18.17L15.59 15.58L17 17L22 12M4 5H12V3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H12V19H4V5Z" /></svg>
    </div>
    
    <h1><%= title %></h1>

    <div class="add-post svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>add post</title><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
    </div>

    <div class="members-passcode svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>members only passcode submission</title><path d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20M8.5,12A1.5,1.5 0 0,0 7,10.5A1.5,1.5 0 0,0 5.5,12A1.5,1.5 0 0,0 7,13.5A1.5,1.5 0 0,0 8.5,12M13,10.89C12.39,10.33 11.44,10.38 10.88,11C10.32,11.6 10.37,12.55 11,13.11C11.55,13.63 12.43,13.63 13,13.11V10.89Z" /></svg>
    </div>

</div>


<% if (posts && posts.length > 0) { %>

    <% posts.forEach(post => { %>
        <div class="post" onclick="window.location.href='/posts/<%= post.id %>'">
            <div class="post-title">
                <%= post.title %>
            </div>

            <div class="post-body">
                <%= post.body %>
            </div>

            <div class="post-author">
                Posted by: 
                <%= (post.user && post.user.username) ? post.user.username : "Anonymous" %>
            </div>
        </div>
    <% }) %>

<% } else { %>
    <p>No posts available.</p>
<% } %>







<%- contentFor('pageTitle') %>
<title>Posts Page</title>


<%- contentFor('styleSheets') %>
<link rel="stylesheet" href="/posts.css">